@model TrafficGuard.Models.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row" style="background: rgba(255, 255, 255, 0.5)">
        <div>

            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Latitude)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Longitude)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Longitude)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.District)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.District.Name)
            </dd>

        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
